.opacity {
    opacity: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
    left:0;
    right:0;
    bottom:0;
    background-color:#87b5c3b3;
    min-height : 100%;
    min-width : 100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    filter: brightness(80%);
  } 
  
  
  .navbar-nav.mr-auto {
    padding: 1%;
    justify-content: space-evenly;
    letter-spacing: 1px;
    padding-left: 100px;
    
  }
  
  .bg-light {
    color: black !important;
    background-color: #ffffff !important;
  }
  
  .navbar.navbar-expand-lg.navbar-light {
    background-color: #54686e;
    background: rgb(0,46,59);
    background: linear-gradient(90deg, rgba(0,46,59,0.700717787114846) 0%, rgba(0,22,36,0.7707457983193278) 100%, rgba(9,77,121,0.7287289915966386) 100%);
    
  }
  
  